//c-ciw.adoc

[wavedrom, ,svg,subs=attributes+]
....
{reg: [
  {bits: 2, name: 'op',     attr: ['2','C0','C0'],},
  {bits: 3, name: 'rd′/cd′',attr: ['3','dest','dest'],},
  {bits: 8, name: 'imm',    attr: ['8','nzuimm[5:4|9:6|2|3]','nzuimm[5:4|9:6|2|3]']},
  {bits: 3, name: 'funct3', attr: ['3','C.ADDI4SPN','{C_ADDI4SPN_CAP}']},
], config: {bits: 16}}
....
