[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 20}])
(def row-height 40)
(def row-header-fn nil)
(def left-margin 100)
(def right-margin 100)
(def boxes-per-row 32)
(draw-column-headers {:height 20 :font-size 18 :labels (reverse ["0" "1" "2" "" "4" "5" "6" "" "" "SDPLEN+5" "" "" "" "" "" "15" "16" "17" "18" "19" "" "23" "24" "" "" "" "" "" "" "" "" "XLEN-1"])})

(draw-box "Reserved 0" {:span 10})
(draw-box "Reserved 1" {:span 3})
(draw-box "R"        {:span 1})
(draw-box "X"        {:span 1})
(draw-box "ASR"      {:span 1})
(draw-box "Reserved 1" {:span 6})
(draw-box "SDP"      {:span 4})
(draw-box "C"        {:span 1})
(draw-box "Reserved 1" {:span 3})
(draw-box "LM"       {:span 1})
(draw-box "W"        {:span 1})

(draw-box "XLEN-24"   {:span 10 :borders {}})
(draw-box "5"         {:span 3 :borders {}})
(draw-box "1"         {:span 1 :borders {}})
(draw-box "1"         {:span 1 :borders {}})
(draw-box "1"         {:span 1 :borders {}})
(draw-box "10-SDPLEN" {:span 6 :borders {}})
(draw-box "SDPLEN"    {:span 4 :borders {}})
(draw-box "1"         {:span 1 :borders {}})
(draw-box "3"         {:span 3 :borders {}})
(draw-box "1"         {:span 1 :borders {}})
(draw-box "1"         {:span 1 :borders {}})
----
