[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 25}])
(def row-height 80)
(def row-header-fn nil)
(def left-margin 100)
(def right-margin 100)
(def boxes-per-row 32)
(draw-column-headers {:height 50 :font-size 22 :labels (reverse ["0" "" "" "" "" "" "" "" "" "" "E" "" "" "" "" "" "" "" "" "" "E+MW" "" "" "" "" "" "" "" "" "" "" "MXLEN-1"])})

(draw-box "a[MXLEN - 1:E + MW] + cb" {:span 12})
(draw-box "B[MW - 1:0]"              {:span 10})
(draw-box "0"                        {:span 10})

(draw-box "MXLEN" {:span 32 :borders {}})
----
