[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 25}])
(def row-height 80)
(def row-header-fn nil)
(def left-margin 100)
(def right-margin 100)
(def boxes-per-row 32)
(draw-column-headers {:height 50 :font-size 22 :labels (reverse ["0" "1" "2" "" "" "" "" "" "" "9" "10" "11" "12" "" "" "" "" "17" "18" "19" "20" "21" "" "23" "24" "25" "" "" "" "29" "30" "31"])})

(draw-box "SDP"         {:span 2})
(draw-box "AP, M"       {:span 5})
(draw-box "GL"          {:span 1})
(draw-box "Reserved"    {:span 3})
(draw-box "CT"          {:span 1})
(draw-box "EF"          {:span 1})
(draw-box "L\u2088"    {:span 1})
(draw-box "T[7:2]"      {:span 6})
(draw-box "TE"          {:span 2})
(draw-box "B[9:2]"      {:span 8})
(draw-box "BE"          {:span 2})
(draw-box "Address"     {:span 32})

(draw-box "32" {:span 32 :borders {}})
----
