[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 25}])
(def row-height 80)
(def row-header-fn nil)
(def left-margin 100)
(def right-margin 100)
(def boxes-per-row 32)
(draw-column-headers {:height 50 :font-size 22 :labels (reverse ["0" "" "" "" "" "" "" "" "8" "9" "" "" "" "" "" "" "16" "17" "" "" "" "21" "22" "" "24" "25" "" "" "" "29" "30" "31"])})

(draw-box "R"           {:span 1})
(draw-box "G"           {:span 1})
(draw-box "P"           {:span 5})
(draw-box "O"           {:span 3})
(draw-box "E"           {:span 5})
(draw-box "T"           {:span 8})
(draw-box "B"           {:span 9})
(draw-box "Address"     {:span 32})

(draw-box "32" {:span 32 :borders {}})
----
