[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 21}])
(def row-height 40)
(def row-header-fn nil)
(def left-margin 100)
(def right-margin 100)
(def boxes-per-row 34)
(draw-column-headers {:height 20 :font-size 18 :labels (reverse ["0" "" "" "" "" "" "" "1" "2" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "SXLEN-1" "" ""])})

(draw-box "CTag" {:span 2})
(draw-box ""    {:span 1 :borders {}})

(draw-box "Metadata (WARL)"          {:span 31})

(draw-box "" {:span 3 :borders {}})

(draw-box "BASE [SXLEN-1:2] (WARL)" {:span 23})
(draw-box "MODE (WARL)"               {:span 8})

(draw-box "" {:span 3 :borders {}})
(draw-box "SXLEN-2" {:span 23 :borders {}})
(draw-box "2"         {:span 8 :borders {}})
----
