[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 21}])
(def row-height 40 )
(def row-header-fn nil)
(def left-margin 100)
(def right-margin 100)
(def boxes-per-row 68)
(draw-column-headers {:height 20 :font-size 18 :labels (concat (repeat 5 "") ["YLEN-1"] (repeat 28 "") ["VSXLEN" "" "" "VSXLEN-1"] (repeat 21 "") ["2" "1"] (repeat 6 "") ["0"])})

(draw-box "CTag" {:span 2})
(draw-box "" {:span 2 :borders {}})
(draw-box "Metadata (WARL)" {:span 32})
(draw-box "BASE[VSXLEN-1:2] (WARL)" {:span 24})
(draw-box "MODE (WARL)" {:span 8})

(draw-box "1 bit" {:span 2 :borders {}})
(draw-box "" {:span 2 :borders {}})
(draw-box "VSXLEN bits" {:span 32 :borders {}})
(draw-box "VSXLEN-2" {:span 24 :borders {}})
(draw-box "2" {:span 8 :borders {}})
----
