[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 24}])
(def row-height 40)
(def row-header-fn nil)
(def left-margin 100)
(def right-margin 100)
(def boxes-per-row 32)
(draw-column-headers {:height 20 :font-size 18 :labels (reverse (concat ["0"] (repeat 6 "") ["8" "9"] (repeat 22 "") ["XLEN-1"]))})

(draw-box "Reserved"      {:span 16})
(draw-box "Features"      {:span 8})
(draw-box "Base Encoding" {:span 8})

(draw-box "MXLEN-16" {:span 16 :borders {}})
(draw-box "8"        {:span 8 :borders {}})
(draw-box "8"        {:span 8 :borders {}})
----
