[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 20}])
(def row-height 40)
(def row-header-fn nil)
(def left-margin 100)
(def right-margin 100)
(def boxes-per-row 32)
(draw-column-headers {:height 20 :font-size 18 :labels (reverse
  ["0" "" "2" "3" "4" "5" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "XLEN-1"]
)})

(draw-box "As is"     {:span 27})
(draw-box "GL"        {:span 1})
(draw-box "SL"        {:span 1})
(draw-box "LG"        {:span 1})
(draw-box "As is"     {:span 2})

(draw-box "XLEN-5"    {:span 27 :borders {}})
(draw-box "1"         {:span 1 :borders {}})
(draw-box "1"         {:span 1 :borders {}})
(draw-box "1"         {:span 1 :borders {}})
(draw-box "2"         {:span 2 :borders {}})
----
