[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 20}])
(def row-height 40)
(def row-header-fn nil)
(def left-margin 100)
(def right-margin 100)
(def boxes-per-row 32)
(draw-column-headers {:height 20 :font-size 18 :labels (reverse ["0" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "23" "24" "25" "26" "" "" "" "" "" "" "XLEN-1"])})

(draw-box "Reserved 0" {:span 8})
(draw-box "US"        {:span 1})
(draw-box "SE"        {:span 1})
(draw-box "As is"     {:span 22})

(draw-box "XLEN-26"   {:span 8 :borders {}})
(draw-box "1"         {:span 1 :borders {}})
(draw-box "1"         {:span 1 :borders {}})
(draw-box "24"        {:span 22 :borders {}})
----
