[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 20}])
(def row-height 40)
(def row-header-fn nil)
(def left-margin 100)
(def right-margin 100)
(def boxes-per-row 32)
(draw-column-headers {:height 20 :font-size 18 :labels (reverse ["0" "1" "2" "3" "" "5" "6" "7" "8" "" "" "" "" "" "" "15" "16" "17" "18" "19" "" "" "" "23" "24" "25" "26" "" "" "" "" "XLEN-1"])})

(draw-box "Reserved" {:span 6})
(draw-box "SDP"      {:span 2})
(draw-box "Reserved" {:span 5})
(draw-box "R"        {:span 1})
(draw-box "X"        {:span 1})
(draw-box "ASR"      {:span 1})
(draw-box "Reserved" {:span 8})
(draw-box "SDP"      {:span 2})
(draw-box "Reserved" {:span 3})
(draw-box "C"        {:span 1})
(draw-box "LM"       {:span 1})
(draw-box "W"        {:span 1})

(draw-box "XLEN-26"   {:span 6 :borders {}})
(draw-box "2"         {:span 2 :borders {}})
(draw-box "5"         {:span 5 :borders {}})
(draw-box "1"         {:span 1 :borders {}})
(draw-box "1"         {:span 1 :borders {}})
(draw-box "1"         {:span 1 :borders {}})
(draw-box "8"         {:span 8 :borders {}})
(draw-box "2"         {:span 2 :borders {}})
(draw-box "3"         {:span 3 :borders {}})
(draw-box "1"         {:span 1 :borders {}})
(draw-box "1"         {:span 1 :borders {}})
(draw-box "1"         {:span 1 :borders {}})
----
