[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 24}])
(def row-height 40)
(def row-header-fn nil)
(def left-margin 100)
(def right-margin 100)
(def boxes-per-row 32)
(draw-column-headers {:height 20 :font-size 18 :labels (reverse ["0" "1" "2" "3" "4" "" "" "" "" "" "" "" "" "" "" "" "16" "" "" "SDPLEN+15" "" "" "" "" "" "" "" "" "" "" "" "XLEN-1"])})

(draw-box "Reserved" {:span 12})
(draw-box "SDP"  {:span 4})
(draw-box "Reserved" {:span 11})
(draw-box "ASR"  {:span 1})
(draw-box "X"    {:span 1})
(draw-box "R"    {:span 1})
(draw-box "W"    {:span 1})
(draw-box "C"    {:span 1})

(draw-box "XLEN-SDPLEN-16" {:span 12 :borders {}})
(draw-box "SDPLEN" {:span 4 :borders {}})
(draw-box "11" {:span 11 :borders {}})
(draw-box "1" {:span 1 :borders {}})
(draw-box "1" {:span 1 :borders {}})
(draw-box "1" {:span 1 :borders {}})
(draw-box "1" {:span 1 :borders {}})
(draw-box "1" {:span 1 :borders {}})
----
