[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 30}])
(def row-height 80)
(def row-header-fn nil)
(def left-margin 100)
(def right-margin 100)
(def boxes-per-row 32)
(draw-column-headers {:height 50 :font-size 26 :labels (reverse ["0" "2" "3" "" "" "" "13" "14" "16" "17" "" "" "25" "26" "27" "28" "" "" "" "" "" "46" "" "47" "51" "52" "53" "56" "57" "" "" "63"])})

(draw-box "Reserved"    {:span 4})
(draw-box "SDP"         {:span 2})
(draw-box "M"           {:span 1})
(draw-box "AP"          {:span 3})
(draw-box "Reserved"    {:span 7})
(draw-box "S"           {:span 1})
(draw-box "EF"          {:span 1})
(draw-box "T[11:3]"     {:span 4})
(draw-box "TE"          {:span 2})
(draw-box "B[13:3]"     {:span 5})
(draw-box "BE"          {:span 2})
(draw-box "Address"     {:span 32})

(draw-box "64" {:span 32 :borders {}})
----
