[bytefield]
----
(def row-height 45)
(def row-header-fn nil)
(def boxes-per-row 27)
(draw-column-headers {:font-size 15 :height 17 :labels ["" "11" "" "" "10" "" "" "9" "" "8" "" "" "" "6" "5" "" "4" "" "" "3" "" "" "2" "" "1" "" "0"]})
(draw-box (text "stepie" {:font-size 20}) {:span 3})
(draw-box (text "stopcount" {:font-size 20}) {:span 3})
(draw-box (text "stoptime" {:font-size 20}) {:span 3})
(draw-box (text "cause" {:font-size 20}) {:span 5})
(draw-box (text "v" {:font-size 20}) {:span 1})
(draw-box (text "mprven" {:font-size 20}) {:span 3})
(draw-box (text "nmip" {:font-size 20}) {:span 3})
(draw-box (text "step" {:font-size 20}) {:span 3})
(draw-box (text "prv" {:font-size 20}) {:span 3})
(draw-box "1" {:span 3 :borders {}})
(draw-box "1" {:span 3 :borders {}})
(draw-box "1" {:span 3 :borders {}})
(draw-box "3" {:span 5 :borders {}})
(draw-box "1" {:span 1 :borders {}})
(draw-box "1" {:span 3 :borders {}})
(draw-box "1" {:span 3 :borders {}})
(draw-box "1" {:span 3 :borders {}})
(draw-box "2" {:span 3 :borders {}})
----
