[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 24}])
(def row-height 40)
(def row-header-fn nil)
(def left-margin 100)
(def right-margin 100)
(def boxes-per-row 32)
(draw-column-headers {:height 20 :font-size 18 :labels (reverse ["0" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "XLENMAX-1"])})

(draw-box "dscratch0c (Metadata)" {:span 32})
(draw-box "dscratch0c (Address)"  {:span 32})

(draw-box "XLENMAX" {:span 32 :borders {}})
----
