[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 21}])
(def row-height 40)
(def row-header-fn nil)
(def left-margin 100)
(def right-margin 100)
(def boxes-per-row 34)
(draw-column-headers {:height 20 :font-size 18 :labels (reverse ["0" "" "" "" "" "" "" "1" "2" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "MXLEN-1" "" ""])})

(draw-box "Tag" {:span 1})
(draw-box ""    {:span 1 :borders {}})

(draw-box "Metadata           (WARL)" {:span 32})

(draw-box "" {:span 2 :borders {}})

(draw-box "BASE [MXLEN-1:2] (WARL)" {:span 24})
(draw-box "MODE (WARL)"               {:span 8})

(draw-box ""          {:span 2 :borders {}})
(draw-box "MXLEN-2" {:span 24 :borders {}})
(draw-box "2"         {:span 8 :borders {}})
----
