[bytefield]
----
(defattrs :plain [:plain {:font-family "M+ 1p Fallback" :font-size 24}])
(def row-height 40)
(def row-header-fn nil)
(def left-margin 100)
(def right-margin 100)
(def boxes-per-row 32)
(draw-column-headers {:height 20 :font-size 18 :labels (reverse ["0" "" "" "" "" "" "" "1" "2" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "SXLEN-1"])})

(draw-box "BASE (Address)[SXLEN-1:2] (WARL)" {:span 24})
(draw-box "MODE (WARL)"                     {:span 8})

(draw-box "SXLEN-2" {:span 24 :borders {}})
(draw-box "2"      {:span 8 :borders {}})
----
